.food-item{
    width: 20%;
    margin:auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(147, 255, 104);
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item-img{
    width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}
.food-item-image-container{
    align-items: center;
    position: relative ;
}
.food-item-info{
    padding: 20px;
}
.food-item-name  {
    color: #AAFF00;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px;
}
.food-item-price{
    color: white;
}
.food-item-des{
    color: white;
}
.count-item{
    color: white
}
.add-white{
    position: absolute;
    border-radius: 50%;
    align-items: center;
    bottom: 10px;
    right: 2px;
    width: 35px;
    cursor: pointer;
    padding: 0px;

}
.counter{
    display: flex;
    position: absolute;
    border-radius: 50px;
    align-items: center;
    bottom: 15px;
    right: 15px;
    padding: 6px;
    gap: 10px;
    background-color: black;
    /* color: white; */
    cursor: pointer;
}
.add-green{
    width: 25px;
}
.remove{
    width: 25px;
}