.explore-menu{
    display: flex;
    flex-direction: column;
}
.explore-menu h2{
    color: white;
}
.explore-menu p{
    color: white;
}
.explore-menu hr{
   
    border: 1px solid rgb(52, 52, 56);
    margin-top: 20px;
    
}
.explore-menu-list{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content:space-between;
    margin-top: 50px;
    overflow-x: scroll;
}
.explore-menu-list ::-webkit-scrollbar {
    display:none;
}

.menu-list{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.menu-list p{
margin-top: 10px;
}
.menu-list img{
transition: 0.2s;
cursor: pointer;
width: 7.5vw;
min-width: 80px;
border-radius: 50%;
}
.Active{
border: 4px solid #AAFF00;
padding: 2px;
}